.App {
  text-align: center;
  padding: 40px;
  background-color: #da9bff;
}

.App * {
  box-sizing: border-box;
}


ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 3px solid #000000;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  width: 200px;
  margin-bottom: 20px;
}

button {
  padding: 4px 6px 4px 4px;
  border: 3px solid #000000;
  margin-top: 5px;
}

.city {
  width: 250px;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid #000000;
  border-radius: 4px;
  position: relative;
  background-color: #d8ffff;
}

.summary {
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 75px;
}
